!!!
%html
  %head
    %title User Homepage
    = stylesheet_link_tag 'application', 'media' => 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    %h1.title Welcome to your homepage, User!

%h1 Go to main page
= button_to 'Main Page', searches_path, :method => :get

%h1 Options

%h1 Saved Topics
%table#saved_searches
  %thead
    %tr
      %th Search Term
      %th Geographical Restriction
      %th Search Date
      %th Additional Details
      %th Delete Term
  %tbody


%h1 Search Term History

%table#history
  %thead
    %tr
      %th Search Term
      %th Geographical Restriction
      %th Search Date
      %th Additional Details
      %th Delete Term
  %tbody
    
