%h1 Current Search
= form_tag searches_save_topic_path do

  %br
  #graph{:style => "width:600px;height:250px;"}

  =submit_tag 'Save Topic', :method => :save_topic

  = content_tag 'div', '', id: 'data', data: {key1: @search_info}

  %script(src='display-search.js' type='text/javascript')
