%h1 Current Search
= form_tag searches_save_topic_path do

  %br
  #graph

  =submit_tag 'Save Topic', :method => :save_topic
  -#Using gsub to make the hash JSON parseable
  = content_tag 'div', '', id: 'data', data: {key1: @curr_view_search}

  %script(src='display-search.js' type='text/javascript')
